# ─────────────────────────────────────────
# Data (trop volumineux pour GitHub)
# ─────────────────────────────────────────
data/raw/
data/processed/
data/featured/

# ─────────────────────────────────────────
# Python
# ─────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/

# ─────────────────────────────────────────
# Environnements
# ─────────────────────────────────────────
.env
.venv/
venv/
env/

# ─────────────────────────────────────────
# Jupyter
# ─────────────────────────────────────────
.ipynb_checkpoints/
*.ipynb_checkpoints

# ─────────────────────────────────────────
# MLflow
# ─────────────────────────────────────────
mlruns/
mlflow.db

# ─────────────────────────────────────────
# Airflow
# ─────────────────────────────────────────
airflow/logs/
airflow/airflow.db
airflow/webserver_config.py
airflow/airflow.cfg
airflow/E*

# ─────────────────────────────────────────
# DVC
# ─────────────────────────────────────────
.dvc/cache/
.dvc/tmp/

# ─────────────────────────────────────────
# Models (binaires lourds)
# ─────────────────────────────────────────
models/*.pkl
models/*.joblib
models/*.h5

# ─────────────────────────────────────────
# OS
# ─────────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini

# ─────────────────────────────────────────
# IDE
# ─────────────────────────────────────────
.vscode/
.idea/
*.swp